@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  @supports (padding-bottom: env(safe-area-inset-bottom)) {
    .pb-safe {
      padding-bottom: env(safe-area-inset-bottom);
    }
  }
}
